<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.EmpresaConnectionString"
            connectionString="Data Source=DESKTOP-OIBTPLU;Initial Catalog=Empresa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.EmpresaConnectionString1"
            connectionString="Data Source=DESKTOP-OIBTPLU;Initial Catalog=Empresa;User ID=RaveHunter05;Password=tumadreen4951"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.abarrotesSanRafaelConnectionString"
            connectionString="Data Source=DESKTOP-OIBTPLU;Initial Catalog=abarrotesSanRafael;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>